<div class="form--field">
  <%= styled_label_tag '', l(:label_resync_all_projects) %>
  <%= styled_check_box_tag "settings[gitolite_resync_all_projects]", true, false %>
  <div class="form--field-instructions"><%= l(:label_resync_all_projects_desc) %></div>
</div>