<% settings_tabs = [
  { name: 'gitolite_config', partial: 'settings/gitolite_config', label: :label_tab_gitolite },
  { name: 'gitolite_config_access', partial: 'settings/gitolite_config_access', label: :label_tab_access },
  { name: 'gitolite_config_test', partial: 'settings/gitolite_config_test', label: :label_tab_config_test },
  { name: 'gitolite_rescue', partial: 'settings/gitolite_rescue', label: :label_tab_gitolite_rescue },
 ] %>

<br />

<span><%= l(:label_open_issue) %> : <%= link_to l(:label_openproject_revisions_git_issue), OpenProject::Revisions::Git::GITHUB_ISSUE, target: '_blank' %></span>

<br />
<br />

<%= render_tabs settings_tabs %>

<%= javascript_tag do %>
  $(document).ready(function() {
    groups = $('[id^=tab-gitolite_]');

    $.each(groups, function(key, elem) {
      $(elem).on('click', function(){
        if ("replaceState" in window.history) {
          window.history.replaceState(null, document.title, 'redmine_revisions_git?tab=' + $(this).attr('id').replace('tab-', ''));
        }
      });
    });

    $('.bootstrap-switch').each(function(index, element) {
      installBootstrapSwitch(element);
    });
  });
<% end %>
