<p>
  <% if User.current.admin? || User.current.allowed_to?(:view_repository_git_config_keys, @project) %>
    <%= render template: 'repository_git_config_keys/show' %>
  <% end %>
</p>

<p>
  <% if User.current.admin? || User.current.allowed_to?(:create_repository_git_config_keys, @project) %>
    <%= render template: "repository_git_config_keys/new" %>
  <% end %>
</p>

