<div class="form--field">
  <%= form.text_field(:url,
                      label: l('repositories.gitolite.managed_path'),
                      value: repository.new_record? ? repository.managed_repository_path :
                                                      repository.root_url,
                      size: 60,
                      disabled: true,
                      'aria-disabled' => true

      ) %>
  <div class="form--field-instructions">
    <%= l('repositories.gitolite.instructions.managed_url') %>
  </div>
</div>

<%= form.fields_for :extra do |e| %>
  <div class="form--field">
    <%=
      e.check_box(:git_daemon, { label: :label_enable_git_daemon, checked: repository.project.is_public? })
    %>
  </div>
<% end %>
