<p>
  <% if User.current.admin? || User.current.allowed_to?(:view_repository_mirrors, @project) %>
    <fieldset class="repository_mirrors_view">
      <legend><%= "Current repository mirrors" %></legend>
      <%= render template: 'repository_mirrors/show' %>
    </fieldset>
  <% end %>
</p>

<p>
  <% if User.current.admin? || User.current.allowed_to?(:create_repository_mirrors, @project) %>
    <%= render template: "repository_mirrors/new" %>
  <% end %>
</p>

<p>
  <% if User.current.admin? || User.current.allowed_to?(:create_repository_mirrors, @project) %>
    <%= render template: "repository_mirrors/gitolite_public_key" %>
  <% end %>
</p>
