<p>
  <% if User.current.admin? || User.current.allowed_to?(:view_repository_post_receive_urls, @project) %>
    <%= render template: 'repository_post_receive_urls/show' %>
  <% end %>
</p>

<p>
  <% if User.current.admin? || User.current.allowed_to?(:create_repository_post_receive_urls, @project) %>
    <%= render template: "repository_post_receive_urls/new" %>
  <% end %>
</p>

